/*--------------------------
----------------------------
------ MEDIA STYLES --------
----------------------------
--------------------------*/

@media only screen and (max-width : 1899px) {
	#cal {
	  background: url(../img/diamonds2.png) repeat center center,  url(../img/eventBG.jpg) repeat center center;
	  background-size: auto, cover;
	}
}

@media only screen and (max-width : 1279px) {
	#cal {
	  background: url(../img/diamonds3.png) repeat center center,  url(../img/eventBG.jpg) repeat center center;
	  background-size: auto, cover;
	}
}

@media only screen and (max-width : 1099px) {
	#cal {
	  background: url(../img/diamonds4.png) repeat center center,  url(../img/eventBG.jpg) repeat center center;
	  background-size: auto, cover;
	}
	.homeMenu {
	  ul {
	      margin: 0 0 0 0.5em;
	    li {
	      padding: 0.6em 0.2em 0.6em 0.2em;
	      margin: 0.5em 0.2em 0.5em 0.2em;
	      font-size: 0.6em;
	    }
	  }
	}

.memberHeader {
  .nameArea {
    text-align: center;
    h2 {
      text-align: center;
    }
    h1 {
      text-align: center;
    }
  }
}
}

@media only screen and (min-width : 64em) {
	body.static {
		header.homeMenu {
			.pageMenu {
				display: block !important;
			}
		}
	}

}

@media only screen and (max-width : 64em) {
	.goSmalloverlay {
		display: block;
	}
	.locationAreaWindow [class*="block-grid-"]>li {
	  display: inline-block;
	  height: auto;
	  float: none;
	  padding: 0 0.625rem 1.25rem;
	  width: 49% !important;
	}
	body.static, body.mobile {
		.pageMenuFirst, .pageMenuLast {
  			  text-align: left;
		}
		header.homeMenu {
			.pageMenu {
				position: absolute;
				top: 104px;
				left: 0px;
				width: 100%;
				text-align: center;
				display: none;
				background: #111;
				padding-bottom: 20px;
				ul {
					li,a {
						display: block;
					}
					li.current {
					  border: 2px solid transparent;
					}
					li.current:hover {
					  border: 2px solid #b50723;
					}
				}
			}
			.pageMenuLast {
				position: absolute;
				top: 47px;
				left: 0px;
				width: 100%;
				text-align: center;
				display: none;
				background: #111;
				padding-top: 10px;
			}
		    .mobileMenuArea {
		      display: block;
		      float: right;
		      color: #fff;
			  padding-left: 0.9375rem;
			  padding-right: 0.9375rem;
			  line-height: 47px;
			  font-size: 36px;
		    }
		}
	}
	.membershipList {
		.member1, .member2, .member3, .member4, .member5, .member6, .member7, .member8 {
			background: #fff url(none);
  			padding: 3em 0 3em 0;
		}
	}
}



@media only screen and (max-width : 809px) {
	#cal {
	  background: #2a2a2a url(none),  url(../img/eventBG.jpg) repeat center center;
	  background-size: auto, cover;
	}
	.diamondswrap {
	    z-index: 9;
	    position: relative;
	}
}

@media only screen and (max-width : 500px) {
	.locationSort ul.tagList{
		margin:0px;
		margin-bottom: 10px;
	}
	.singleEventIndex,.groupsEvents{
		.redButton{
			display: block !important;
		}
		.eventIndexLoc{
			max-width: 100% !important;
			float: none !important;
		}
		.redGhostButton{
			display: block;
			margin: 0 auto;
			position:static;
			float: none;
		}
	}
}

@media only screen and (max-width : 48em) {

	.groupIcon {
	  background: #fff url(none) center center no-repeat;
	  .groupTitle {
	    bottom: 42.5%;
	  }
	  .groupLocation {
	    bottom: 12%;
	  }
	}
	.groupIcon:hover {
	  background: #ccc url(none) center center no-repeat;
	}


	.splitRow.row2 {
	  padding: 5em 0 5em 0;
	}
	.splitRow.row1 {
	  min-height: 350px;
	}
	.testimonialsRow img.alignright {
	  float: none;
	  margin: 0 auto 1.5em auto;
	  display: table;
	}	
	.newsRow h3 {
		text-align: center;
		span {
		  float: none;
		  display: block;
		  clear: both;
		  font-weight: 400;
		  font-size: 0.65em;
		  color: rgba(255, 255, 255, 0.9);
		  line-height: 1;
		  padding-top: 0.5em;
		}
	}	
	body.static {	
		.homeMenu {
			position: absolute;
		}
	}
	.testimonialsRow p {
	  margin: 0 auto 2em auto;
	  display: table;
	  float: none;
	}

	.locationSort {
		text-align: center;
	}
	.monthArrows {
	  text-align: center;
	}
	.eventSubmit {
		text-align: center;
	}
}